<%- model_class = Wordpress -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  <h4>
    <p>Instruções:</p>
    <p>Criar uma nova configuração do Wordpress com Nome do usuário, url do site, consumer_key e consumer_secret</p>
    <p>Instruções para pegar os keys:</p>
    <p>- Criar/Editar usuário administrador no Wordpress e selecionar a opção Gerar uma Chave de API</p>
    <p>- Clicar em Criar/Atualizar usuário, voltar no usuário e alterar as Permissões para 'Ler/Escrever' e salvar novamente</p>
  </h4>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
new_wordpress_path,
:class => 'btn btn-primary' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:consumer_key) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @wordpresses.each do |wordpress| %>
      <tr>
        <td><%= link_to wordpress.name, wordpress_path(wordpress) %></td>
        <td><%= wordpress.url %></td>
        <td><%= wordpress.consumer_key %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_wordpress_path(wordpress), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      wordpress_path(wordpress),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
