<%- model_class = Crawler -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <h4>
    <p>Instruções:</p>
    <p>Após as Configurações estarem corretas, criar um Crawler clicando em Novo abaixo </p>
    <p>Ligar a um Wordpress e um Aliexpress, escolher se está Habilitado</p>
    <p>Intinerários:</p>
    <p><strong>hourly:</strong> De hora em hora no minuto :00</p>
    <p><strong>daily:</strong> Diariamente às 00:00</p>
    <p><strong>ten_minutes:</strong> de 10 em 10 minutos, sempre no minuto 8</p>
  </h4>
</div>
<%= link_to 'Novo',
new_crawler_path,
:class => 'btn btn-primary' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:wordpress_id) %></th>
      <th><%= model_class.human_attribute_name(:aliexpress_id) %></th>
      <th>Status</th>
      <th>Intinerário</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @crawlers.each do |crawler| %>
      <tr>
        <td><%= link_to crawler.wordpress.name, crawler_path(crawler) %></td>
        <td><%= crawler.aliexpress.name %></td>
        <td><%=
                case crawler.enabled
                when true
                  'Habilitado'
                else
                  'Desabilitado'
                end
            %></td>
        <td><%= crawler.schedule %></td>
        <td>
          <%= link_to 'Editar',
                      edit_crawler_path(crawler), :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Deletar',
                      crawler_path(crawler),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <%= link_to 'Habilitar Crawler',
                      enabled_status_crawler_path(crawler, type: 'enable'),
                      method: :put,
                      class: 'btn btn-success' unless crawler.enabled == true %>
          <%= link_to 'Desabilitar Crawler',
                      enabled_status_crawler_path(crawler, type: 'disable'),
                      method: :put,
                      class: 'btn btn-danger' unless crawler.enabled == false %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
