<%- model_class = Crawler -%>
<div class="page-header">
  <h1><%= @crawler.wordpress.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:aliexpress) %>:</strong></dt>
  <dd><%= @crawler.aliexpress.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:enabled) %>:</strong></dt>
  <dd><%= case @crawler.enabled
          when true
            'Habilitado'
          else
            'Desabilitado'
          end
        %></dd>
  <dt><strong><%= model_class.human_attribute_name(:schedule) %>:</strong></dt>
  <dd><%= @crawler.schedule %></dd>
</dl>

<%= link_to 'Voltar',
              crawlers_path, :class => 'btn btn-default'  %>
<%= link_to 'Editar',
              edit_crawler_path(@crawler), :class => 'btn btn-default' %>
<%= link_to 'Deletar',
              crawler_path(@crawler),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) },
              :class => 'btn btn-danger' %>


<%- model_class = CrawlerLog -%>
<div class="page-header">
  <h1><%=t '.title', :default => 'Logs' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:crawler) %></th>
      <th><%= model_class.human_attribute_name(:summary) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @crawler.crawler_logs.each do |crawler_log| %>
      <tr>
        <td><%= link_to @crawler.wordpress.name, crawler_log_path(crawler_log) %></td>
        <td><%= "Processados: #{crawler_log.orders_count} Sucessos: #{crawler_log.processed}"%></td>
        <td><%=l crawler_log.created_at %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      crawler_log_path(crawler_log),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
